<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title><%= title %></title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/xys/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/xys/stylesheets/style.css' />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
		
    </style>
  </head>
<body>

<div class="container-fluid" style="padding: 0 0 ">
	<div class="row-fluid">
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <img src="../xys/images/szucsselogo.png" class="img-responsive" alt="">  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		  <!-- <div style="min-height: 70px;"></div> -->
        </div>
	</div>

	<div class="row-fluid" style=" padding:0 15px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #00B7FF;text-align: center;font-size: 22px; line-height: 26px;">
			<span style="font-weight: bold;">辅导 <%=majorName%> 课程的学生名单</span>
		</div>
	</div>

	<div class="row-fluid">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      <span class="pull-right"><a href="/xys/majorlist">返回专业列表</a></span>
	    </div>
  	</div>

	<div class="row-fluid" id="majorstu">
		<%if (majorstu.length != 0) { %>
		<% majorstu.forEach(function(item){ %>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			 	<!--  <div style="margin: 5px 0;min-height:100px;background-color:red;text-align:center;"> -->
			 	<div class="card card-inverse text-center" style="background-color: #5cb85c; border-color: #5cb85c;" >
				  <div class="card-block">
				    <h4 class="card-title" style="padding-top:7px"><%=item.stuName%>
				    	<%if(item.dang == '党员'){%>(党员)
				    	<%}%>
				    </h4>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item">学号：<%=item.stuXueHao%></li>
				    <li class="list-group-item">性别：<%=item.stuGender%></li>
				    <li class="list-group-item">电话：<%=item.stuPhoneNum%></li>				    
				    <li class="list-group-item" style="height: 60px;">辅导时间：<%=item.teachTime%></li>
				    <li class="list-group-item">已选人数：<%=item.chooseNum%></li>
				    <li class="list-group-item">
				    <% if(item.chooseNum >= 3){%>
				    	<a  class="btn btn-primary" disabled="disabled" style="font-size:7px;">选择</a>
				   	<%}else{%>
				   		<a href="/xys/choosestu?majorstuinfo=<%=item.stuXueHao%><%=item.code%>" class="btn btn-primary" class="card-link" style="font-size:7px;">选择</a>
				   	<%}%>
				    </li>
				  </ul>
				</div>			
			  	 <!-- </div> -->
			</div>
		<% }) %>	
		<% } else { %>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
		        <img src="../xys/images/none.jpg" class="img-responsive" alt="" style="clear: both;margin: auto;">  
		    </div>
		<% } %>
	</div>

	<div class="row-fluid text-center">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="page"></div>
		</div>
	</div>

	<div class="row-fluid">
	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
        <hr style="height:1px;border:none;border-top:1px dashed #5cb85c;" />
      </div>
    </div>

    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="text-align: center;">
           <span>2017 © 计算机与软件学院</span>
        </div>
    </div>

</div>

    <script src="/xys/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/xys/javascripts/bootstrap.min.js"></script>
    <script src="/xys/javascripts/bootstrap-paginator.min.js"></script>
    <script type="text/javascript">
    function GetQueryString(name)
	{
		var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r!=null)return  unescape(r[2]); return null;
	}
    	$(function(){
            var options={
                bootstrapMajorVersion:1,    //版本
                currentPage:1,    //当前页数
                numberOfPages:5,    //最多显示Page页
                totalPages:'<%- JSON.stringify(totalpage) %>',    //所有数据可以显示的页数
                itemTexts: function(type, page, current) {
                            switch (type) {
                                case "first":
                                    return "首页";
                                case "prev":
                                    return "上一页";
                                case "next":
                                    return "下一页";
                                case "last":
                                    return "末页";
                                case "page":
                                    return page;
                            }
                },
                onPageClicked:function(e,originalEvent,type,page){
                	console.log('选择第几页 -->',page)
                    $.ajax({
                    	url:"/xys/majorstu",
                        type:"POST",
                        async:true,
                        data:{
			                offset:parseInt(page)-1,
			                code:GetQueryString('code')
			            },
			            success:function(result){
			            	console.log('check result -- >',result)
			            	$("#majorstu").html("")
			            	let i = 0
			            	let tempResult = result.result
			            	tempResult.forEach(function(item){
			            		//console.log(item.stuName)
			            		$("#majorstu").append(function(){
			            			if(item.chooseNum == '3'){
			            				return '<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">'+
							            		'<div class="card card-inverse text-center" style="background-color: #5cb85c; border-color: #5cb85c;">' + '<div class="card-block">' + 
							            		'<h4 class="card-title" style="padding-top:7px">' + item.stuName + '</h4></div>' +'<ul class="list-group list-group-flush">' + '<li class="list-group-item">学号：' + item.stuXueHao +  '</li>' + '<li class="list-group-item">性别：' + item.stuGender +
							            		'</li><li class="list-group-item">电话：' + item.stuPhoneNum + '</li><li class="list-group-item" style="height: 60px;">辅导时间：' + item.teachTime + '</li><li class="list-group-item">已选人数：' + item.chooseNum + '</li><li class="list-group-item">' + '<a class="btn btn-primary" disabled="disabled" style="font-size:7px;" >选择</a></li></div></div>'
			            			}else{
			            				return '<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">'+
							            		'<div class="card card-inverse text-center" style="background-color: #5cb85c; border-color: #5cb85c;">' + '<div class="card-block">' + 
							            		'<h4 class="card-title" style="padding-top:7px">' + item.stuName + '</h4></div>' +'<ul class="list-group list-group-flush">' + '<li class="list-group-item">学号：' + item.stuXueHao +  '</li>' + '<li class="list-group-item">性别：' + item.stuGender +
							            		'</li><li class="list-group-item">电话：' + item.stuPhoneNum + '</li><li class="list-group-item" style="height: 60px;">辅导时间：' + item.teachTime + '</li><li class="list-group-item">已选人数：' + item.chooseNum + '</li><li class="list-group-item">' + '<a class="btn btn-primary" style="font-size:7px;" href=/xys/choosestu?majorstuinfo='+item.stuXueHao+item.code+' >选择</a></li></div></div>'
			            			}
			            		})
								i++
						    })          	
			            },
			            error:function(error){
			            	console.log('error -- >',error)
			            }
                    })
                }
            }
            $("#page").bootstrapPaginator(options);
            //禁用a标签
            $("a").each(function (e) {
            	// console.log(e)
	            // let judge = $(this).attr('judge');
	            // console.log('check judge-->',judge)
	            // if (judge == '3') {
	            //     $(this).css("cursor", "default");
	            //     $(this).attr('href', '#');     //修改<a>的 href属性值为 #  这样状态栏不会显示链接地址  
	            //     $(this).click(function (event) {
	            //         event.preventDefault();   // 如果<a>定义了 target="_blank“ 需要这句来阻止打开新页面
	            //     });
	            // }
	        });
        })
	</script>
  </body>
</html>