<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title><%= title %></title>

    <!-- Bootstrap -->
    <link rel='stylesheet' href='/xys/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/xys/stylesheets/style.css' />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
		
    </style>
  </head>
<body>

<div class="container" >
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <img src="../xys/images/szucsselogo.png" class="img-responsive" alt="">  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		  <!-- <div style="min-height: 70px;"></div> -->
        </div>
	</div>

	<div class="row" style=" padding:0 15px;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #00B7FF;text-align: center;font-size: 20px; line-height: 24px;">
			选择我的学困生
		</div>
	</div>

	<div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	      <span class="pull-right"><a href="/xys/majorlist">返回专业列表</a></span>
	    </div>
	  </div>

	<div class="row" id="majorstu">
		<% if(result) {%>
		<% result.forEach(function(item){ %>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			 	<!--  <div style="margin: 5px 0;min-height:100px;background-color:red;text-align:center;"> -->
			 	<div class="card card-inverse text-center" style="background-color: #5cb85c; border-color: #5cb85c;" >
				  <div class="card-block">
				    <h4 class="card-title" style="padding-top:7px"><%=item.majorName%></h4>
				  </div>
				  <ul class="list-group list-group-flush">
				  	<li class="list-group-item">姓名：<%=item.xuekunshengName%></li>
				    <li class="list-group-item">学号：<%=item.xuekunshengxuehao%></li>
				    <li class="list-group-item">电话：<%=item.xuekunshengContact%></li>
				    <li class="list-group-item">备注：<%=item.xuekunshengbeizhu%></li>
				  </ul>
				</div>			
			  	 <!-- </div> -->
			</div>
		<% }) %>
		<% } else{ %>	
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
		        <img src="../xys/images/none.jpg" class="img-responsive" alt="" style="clear: both;margin: auto;">  
		    </div>
		<% } %>
	</div>

	<div class="row" style="height: 20px;">
        <hr style="height:1px;border:none;border-top:1px dashed #5cb85c;" />
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="text-align: center;">
            <span>2017 © 计算机与软件学院</span>
        </div>
    </div>

<!-- 	<div class="row text-center">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div id="page"></div>
		</div>
	</div> -->
</div>

    <script src="/xys/javascripts/jquery-1.11.2.min.js"></script>
    <script src="/xys/javascripts/bootstrap.min.js"></script>
    <script src="/xys/javascripts/bootstrap-paginator.min.js"></script>
    <script type="text/javascript">   
	</script>
  </body>
</html>